.stars{
    font-size:90%;
    word-spacing: 3px;
}
.checked {
    color: black;
}

.unchecked {
    color: rgba(128, 128, 128, 0.3);
}

body {
    padding-left:20%;
    margin: 0;
    width: 60%;
    font-family: Helvetica, Arial, sans-serif;
}

.topnav {
    width: 100%;
    background-color: white;
    overflow: auto;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topnav .icon {
    display: none;
}
 
.topnav a {
    float: left;
    padding: 20px 0 20px 0;
    color: gray;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    overflow: hidden; 
}

.topnav a:hover {
    color: black;
}

.home {
    padding: 0;
    width: 100%;
    background-color: white;
    overflow: auto;
}

.home .labels {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.name {
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    width: 40%;
}

.shortinfo {
    margin-top: 30px;
    margin-bottom: 30px;   
    width: 60%;
    font-size: 1em;
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

.myphoto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 200px;
}

.title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
}

.aboutmeInfo {
    width:50%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 1em;
    text-decoration: none;
}

.aboutmeInfo p {
    margin-bottom: 30px;
}

.programs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100%;
}

.programs .program {
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.programs .program p {
    color: gray;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.programs .program img {
    width: 70%;
    object-fit: cover;
}

.portfolioInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.portfolioInfo .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.portfolioInfo .project img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    border: 2px solid black;
}

.portfolioInfo .project a:link {
    color: black;
    text-decoration: none;
}

.portfolioInfo .project a:visited {
    color: black;
    text-decoration: none;
}

.portfolioInfo .project a:hover {
    color: black;
    text-decoration: underline;
}

.contactsInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contactsText {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contactsText p {
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button {
    border: none;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 10px 34px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button a:link {
    color: white;
    text-decoration: none;
}

.button a:visited {
    color: white;
    text-decoration: none;
}

.likeMeText {
    margin-top: 30px;
    margin-bottom: 15px;
}

.likeMeText p {
    font-size: 0.8em;
    color: gray;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contactsIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size:250%;
}

.contactsIcons i {
    margin-left: 25px;
    margin-right: 25px;
}

@media only screen and (max-width: 700px) {
    .programs {   
      flex-direction: column;
      align-items: center;
    }

    .programs .program {
        width: 70%;
        margin-bottom: 50px;
    }

    .topnav a {display: none;}

    .topnav {
        flex-direction: column;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
  }
